{{ define "main" }}

<article class="post">
  <header class="post-head">
    <h1 class="post-title">{{ .Title }}</h1>
    {{ $dateFormat := site.Params.dateFormat | default "Jan 2, 2006" }}
    <p class="post-meta">
      <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format $dateFormat }}</time>
      {{ with .GetTerms "tags" }}
      <span class="post-tags">
        {{ range . }}<a href="{{ .RelPermalink }}">#{{ partial "tag-label.html" .Data.Term }}</a>{{ end }}
      </span>
      {{ end }}
    </p>
  </header>

  {{ if ne .Params.toc false }}
    {{ partial "toc.html" . }}
  {{ end }}

  <div class="post-content">
    {{ partial "book-content.html" . }}
  </div>
</article>

<div class="post-navigation">
  <a href="{{ .Site.Home.RelPermalink }}">← {{ i18n "backToBooks" }}</a>
  <a href="#main">{{ i18n "backToTop" }} ↑</a>
</div>

{{ template "_internal/disqus.html" . }}

{{ end }}
