{{- $names := dict "ai" "AI" "android" "Android" "api" "API" "db" "DB" "ddd" "DDD" "ebs" "EBS" "english" "English" "first" "First" "git" "Git" "head" "Head" "http" "HTTP" "it" "IT" "java" "Java" "javascript" "JavaScript" "jvm" "JVM" "kafka" "Kafka" "kotlin" "Kotlin" "linux" "Linux" "naver" "NAVER" "nosql" "NoSQL" "osgi" "OSGi" "python" "Python" "sf" "SF" "spring" "Spring" "sql" "SQL" "tdd" "TDD" "ui" "UI" "ux" "UX" "web" "Web" -}}
{{- $parts := slice -}}
{{- range split . "-" -}}
  {{- $parts = $parts | append (index $names (lower .) | default .) -}}
{{- end -}}
{{- return (delimit $parts "-") -}}
